<%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Artigos</h2>
            </div>

            <div class="card-body">
                <a href="/admin/articles/new" class="btn btn-success mb-4">Criar novo artigo</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Slug</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <% articles.forEach((article) => { %>
                        <tr>
                                <th><%= article.id %></th>
                                <th><%= article.title %></th>
                                <th><%= article.slug %></th>
                                <th><%= article.category.title %></th>
                                <th>                                    
                                    <form method="POST" action="/articles/delete" class="person" onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id" value="<%= article.id %>">
                                        <button class="btn btn-danger" type="submit">Excluir</button>
                                    </form>
                                </th>
                            </tr>
                    <% }) %>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/scripts.ejs') %>
<script>
    const confirmDelete = (event, form) =>{
        event.preventDefault();
        let decision = confirm('Deseja excluir o artigo?');
        if (decision) {
            alert('Artigo excluído');
            form.submit();
        } else {
            alert('Artigo não excluído');
        }
    }
</script>