<%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Artigos</h2>
            </div>

            <div class="card-body">
                <a href="/admin/articles/new" class="btn btn-success mb-4">Criar novo artigo</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Slug</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% articles.forEach((article) => { %>
                                <tr>
                                    <td><%= article.id %></td>
                                    <td><%= article.title %></td>
                                    <td><%= article.slug %></td>
                                    <td><%= article.category.title %></td>
                                    <td>
                                        <a href="/admin/articles/edit/<%= article.id %>"><button class="btn btn-warning ">Editar</button></a>
                                        <form method="POST" action="/articles/delete" class="mt-2" onsubmit="confirmDelete(event, this)">
                                            <input type="hidden" name="id" value="<%= article.id %>">
                                            <button class="btn btn-danger" type="submit">Excluir</button>
                                        </form>
                                    </td>
                                </tr>
                        <% }) %>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/scripts.ejs') %>
<script>
    const confirmDelete = (event, form) =>{
        event.preventDefault();
        let decision = confirm('Deseja excluir o artigo?');
        if (decision) {
            alert('Artigo excluído');
            form.submit();
        } else {
            alert('Artigo não excluído');
        }
    }
</script>