<%- include('../../partials/head.ejs') %>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Lista de Categoria</h2>
            </div>

            <div class="card-body">
                <a href="/admin/categories/new" class="btn btn-success mb-4">Criar nova categoria</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Slug</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% categories.forEach((category) => { %>
                            <tr>
                                <th><%= category.id %></th>
                                <th><%= category.title %></th>
                                <th><%= category.slug %></th>
                                <th>
                                    <button class="btn btn-warning person">Editar</button>
                                    
                                    <form method="POST" action="/categories/delete" class="person">
                                        <input type="hidden" name="id" value="<%= category.id %>">
                                        <button class="btn btn-danger person" type="submit">Excluir</button>
                                    </form>
                                </th>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/scripts.ejs') %>