<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbarHome.ejs') %>

            <div class="container">
                <div class="jumbotron mt-4">
                    <h1 class="display-4">Olá! Tudo bem?</h1>
                    <p class="lead">Este é um blog desenvolvido por <a href="https://meu-site-opal.vercel.app/" target="_blank">Mauricio
                            Ferreira</a></p>
                    <hr class="my-4">
                    <p>Ele foi desenvolvido totalmente com JavaScript, em seu frontend e backend.</p>
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                </div>
                <main>
                    <% articles.forEach((article)=> { %>

                        <div class="card mb-4">
                            <div class="card-header">
                                <%= article.title %>
                            </div>
                            <div class="card-body">
                                <a href="/article/<%= article.slug %>"><button class="btn-primary">Ler artigo</button></a>
                            </div>
                        </div>
                    <% }) %>
                </main>

                <div class="row">
                    <div class="col col-22">
                        <a style="float: right" href="/articles/page/2"><button class="btn-primary mb-4">Próximo</button></a>
                    </div>
                </div>
            </div>
    </body>

    <%- include('partials/scripts.ejs') %>